.MainSection {
    display: flex;
    flex-direction: column;
    padding-top: 146px;
    width: 100%;
    background-color: #EFF5E1;
}

.UpperSection {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF5E1;
    flex-wrap: wrap;
    gap: 30px;
}

.UpperSection img {
    width: 220px;
    height: auto;
    border-radius: 30px;
}

.UpperSection p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2D3B36;
    text-indent: 60px;
}

.UpperSection h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 90px;
    color: #2D3B36;
    text-align: center;
}

.LowerSection {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.LowerSection h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: clamp(150px, 15vw, 450px);
    color: #2D3B36;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
}


.MiddleSection {
    position: relative;
    z-index: 2;
}

.Girl {
    width: 100%;
    height: 676px;
    border-radius: 30px;
    position: relative;
    z-index: 2;

}

.Block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 200px;
    background-color: #EFF5E1;
    z-index: 3;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.Block p {
    font-family: "Inter", sans-serif;
    color: #2D3B36;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.Block img {
    width: 60px;
    height: 60px;
    border: 1px dotted black;
    padding: 4px;
    border-radius: 50px;
}

.LowerSection button {
    background-color: #2D3B36;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    width: 160px;
    height: 50px;
    color: #EFF5E1;
    border-radius: 100px;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 10%;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.9);
}



@media (max-width: 600px) {
    .MainSection {
        padding-top: 40px;
    }

    .UpperSection {
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
    }

    .UpperSection p {
        font-size: 14px;
        text-indent: 0;
    }

    .UpperSection h1 {
        font-size: 50px;
        line-height: 1.1;
    }

    .UpperSection img {
        width: 160px;
        height: auto;
    }

    .LowerSection h1 {
        display: none;
    }

    .LowerSection button {
        bottom: 15px;
        width: 120px;
        height: 40px;
        font-size: 14px;
        left: 40%;
        bottom: 20%;
        transform: translateX(-50%);
    }

    .Block {
        right: 10%;
        bottom: 4%;
    }

    .Block p {
        font-size: 12px;
    }

    .Block img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .UpperSection {
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
    }

    .UpperSection h1 {
        font-size: 70px;
    }

    .LowerSection h1 {
        display: none;
    }

    .LowerSection button {
        left: 40%;
        bottom: 17%;
        transform: translateX(-50%);
    }

    .Block {
        right: 6%;
        bottom: 2%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .UpperSection {
        padding: 0 60px;
    }

    .UpperSection h1 {
        font-size: 80px;
    }

    .LowerSection h1 {
        font-size: clamp(150px, 10vw, 280px);
    }

    .LowerSection button {
        left: 40%;
        bottom: 20%;
    }

    .Block {
        right: 10%;
        bottom: 5%;
    }

    .LowerSection h1 {
        display: none;
    }
}
