.MainSection {
    display: flex;
    flex-direction: column;
    padding-top: 146px;
    margin: 0;
    background-color: #EFF5E1;
}


.UpperSection {
    display: flex;
    padding: 0px 100.39px 0px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF5E1;
}

.UpperSection img {
    width: 222.61px;
    height: 220px;
    border-radius: 30px;
}

.UpperSection p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D3B36;
    margin-right: 326px;
    text-indent: 105px;
}

.UpperSection h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: -3%;
    color: #2D3B36;
    margin-right: 438px;

}

.Plum {
    display: none;
}


.Desktop {
    display: inline;
}

.Mobile {
    display: none;
}

.LowerSection {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    overflow: hidden;
}

.LowerSection h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 356px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D3B36;
    margin: 378px 0px 0px;
    text-transform: uppercase;
    font-feature-settings: "case";

}

.LowerSection button {
    background-color: #2D3B36;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    width: 180px;
    height: 60px;
    line-height: 100%;
    color: #EFF5E1;
    border-radius: 100px;
    position: absolute;
    left: 100px;
    margin-top: 243px;
}

.Girl {
    position: absolute;
    width: 610px;
    height: 676px;
    border-radius: 30px;
    left: 655px;
    right: 655px;
}

.Block {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 476px;
    height: 100px;
    border-radius: 200px;
    background-color: #EFF5E1;
    left: 740px;
    right: 739px;
    top: 546px
}


.Block p {
    font-family: "Inter", sans-serif;
    color: #2D3B36;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 132px;
}

.Block img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 10px;
    border: 1px solid black;
    border-style: dotted;
    padding: 4px;
    border-radius: 50px;
}

@media (min-width: 320px) and (max-width:600px) {
    .Desktop {
        display: none;
    }

    .Mobile {
        display: inline;
        margin: 0px;
    }

    .MainSection {
        padding-top: 0px;
    }

    .UpperSection {
        flex-direction: column;
        padding: 0px;
        position: relative;
    }

    .UpperSection p {
        margin: 0px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -5%;
        text-align: left;
        text-indent: 0px;
        padding: 30px 30px 0px;
    }


    .UpperSection h2 {
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: 70px;
        line-height: 60px;
        letter-spacing: -5%;
        color: #2D3B36;
    }

    .UpperSection h1 {
        position: absolute;
        margin: 0px;
        font-size: 75px;
        line-height: 100%;
        letter-spacing: 0%;
        bottom: 200px;
        font-weight: 800;
    }

    .Girl {
        position: relative;
        width: 402px;
        height: 441px;
        border-radius: 0px;
        padding-top: 50px;
        left: 0px;
        right: 0px;
    }

    .Block {
        width: 332px;
        height: 80px;
        position: absolute;
        left: 35px;
        right: 0px;
        top: 546px
    }

    .Block p {
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-left: 100px;
        padding: 0px;
    }

    .Block img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 10px;
        border-radius: 110px;
    }

    .UpperSection button {
        background-color: #2D3B36;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        border: none;
        width: 178px;
        height: 50px;
        line-height: 100%;
        color: #EFF5E1;
        border-radius: 100px;
        /* position: absolute; */
        left: 100px;
        margin-bottom: 40px;
    }

    .LastSection {
        display: flex;
        flex-direction: column;
    }



    .UpperSection img {
        /* width: 402px;
        height: 399px; */
    }



}

@media (min-width: 601px) and (max-width:900px) {

    .UpperSection h1 {
        /* font-size: 58px;
        margin-right: 0px;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -5%; */
        display: none;
    }

    .Desktop {
        display: none;
    }

    .Mobile {
        display: inline;
        margin: 0px;
    }

    .GlowText {
        font-size: 2.5rem;
        margin: 0px;
    }

    .UpperSection {
        padding: 0px 40.39px 0px 40px;

    }

    .UpperSection img {
        width: 335.93px;
        height: 332px;
        border-radius: 0px;
    }

    .UpperSection p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #2D3B36;
        margin-right: 93px;
        text-indent: 74px;
    }




}