.MainSection {
    display: flex;
    flex-direction: column;
    padding-top: 146px;
    margin: 0;
    width: 100%;
    background-color: #EFF5E1;
}


.UpperSection {
    display: flex;
    padding: 0px 100.39px 0px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF5E1;
}

.UpperSection img {
    width: 222.61px;
    height: 220px;
    border-radius: 30px;
}

.UpperSection p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D3B36;
    text-indent: 105px;
}

.UpperSection h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: -3%;
    color: #2D3B36;

}


.LowerSection {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.LowerSection h1 {
    position: absolute;
    bottom: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: clamp(200px, calc(12vw + 50px), 378px);
    width: 100%;
    line-height: 100%;
    letter-spacing: 0;
    color: #2D3B36;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.MiddleSection {
    position: relative;
    z-index: 2;
}

.Girl {
    width: 100%;
    height: 676px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}

.Block {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 200px;
    background-color: #EFF5E1;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 520px;
}

.Block p {
    font-family: "Inter", sans-serif;
    color: #2D3B36;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.Block img {
    width: 80px;
    height: 80px;
    border: 1px dotted black;
    padding: 4px;
    border-radius: 50px;
}

.LowerSection button {
    background-color: #2D3B36;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    width: 180px;
    height: 60px;
    line-height: 100%;
    color: #EFF5E1;
    border-radius: 100px;
    z-index: 3;
    position: absolute;
    bottom: 50px;
    left: 20px;
}




@media (min-width: 320px) and (max-width:600px) {
    .MainSection {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .UpperSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 30.39px 0px 30px;
    }

    .UpperSection p {
        margin-right: 0;
    }

    .UpperSection h1 {
        font-size: 80px;
        margin-right: 0;
    }

    .LowerSection {
        margin-top: 30px;
    }

    .LowerSection h1 {
        display: none;

    }

    .LowerSection button {
        bottom: 0px;
        width: 120px;
        height: 30px;
        font-size: 10px;
        left: 120px;
        bottom: 20px;
    }

    .Block {

        padding: 20px;
        right: 30px;
    }

    .Block p {
        font-size: 10px;

    }

    .Block img {
        width: 40px;
        height: 40px;

    }



}

@media (min-width: 601px) and (max-width:900px) {
    .UpperSection {
        flex-direction: column;
        gap: 30px;
    }

    .LowerSection h1 {
        display: none;

    }

    .Block {
        top: 470px;
        right: 0;
    }

    .LowerSection button {
        left: 300px;
        bottom: 20px;
    }
}

