.MainSection {
    display: flex;
    padding: 0px 197px 150px 100px;
    gap: 150px;
    background-color: #FEFFF4;
}

.LeftSide {
    position: relative;
}

.LeftSide img {
    width: 850px;
    height: 900px;
    border-radius: 10px;
}

.Square {
    position: absolute;
    display: flex;
    background-color: #EFF5E1;
    border-radius: 200px;
    width: 306px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 41px;
    left: 225px;
    bottom: 39px;
}

.Square p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;

}

.Square img {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 200px;
    background-color: #2D3B36;
    border: 1px solid #2D3B36;
    border-style: dotted;
    margin-left: 10px;
}

.RightSide {
    display: flex;
    flex-direction: column;
}

.RightSide button {
    width: 260px;
    height: 60px;
    background-color: #FEFFF4;
    border-radius: 100px;
    color: #2D3B36;
    border: none;
    border: 1px solid #2D3B36;
    margin-bottom: 120px;
}

.RightSide h1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #2D3B36;
}




.BoxSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.BorderBox {
    border: 1px solid #2D3B36;
    border-radius: 5px;
    padding: 27px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Question {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2D3B36;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Answer {
    margin-top: 10px;
    font-size: 16px;
    color: #4a5c57;
    animation: fadeIn 0.3s ease-in;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #2D3B36;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 320px) and (max-width:600px) {
    .MainSection {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 100px;
    }

    .LeftSide {
        position: relative;
    }

    .LeftSide img {
        width: 402px;
        height: 475px;

    }

    .Square {

        width: 250px;
        height: 70px;
        gap: 41px;
        left: 76px;
        bottom: 39px;
    }

    .Square img {
        width: 30px;
        height: 30px;
        padding: 15px;
        margin-left: 10px;
    }

    .RightSide {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }

    .RightSide button {
        width: 242px;
        height: 50px;
        background-color: #FEFFF4;
        margin-bottom: 50px;
    }

    .RightSide h1 {
        font-size: 34px;
        line-height: 100%;

    }

    .BoxSection {
        gap: 10px;
        margin-top: 100px;
    }

    .BorderBox {
        border: 1px solid #2D3B36;
        border-radius: 5px;
        padding: 14px;
    }

    .Question {
        font-size: 14px;

    }

    .Answer {
        margin-top: 20px;
        font-size: 12px;
    }



}