.MainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 200px 80px;
    gap: 50px;
    background-color: #fefff4;
    width: 100%;
}

.LeftContainer {
    flex: 1;
    min-width: 300px;
}

.LeftContainer button {
    position: relative;
    width: 260px;
    height: 60px;
    background-color: #fefff4;
    border-radius: 100px;
    color: #2d3b36;
    border: 1px solid #2d3b36;
    margin-bottom: 70px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.LeftContainer button:hover {
    color: #2D3B36;
    background-color: #EFF5E1;

}

.LeftContainer h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(28px, 5vw, 60px);
    line-height: 1.2;
    color: #2d3b36;
    margin-bottom: 30px;
}

.LeftContainer h5 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 50px;
    color: #525349;
}

.Block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;
}

.Block h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 50px;
    background: linear-gradient(to bottom, #293330, #fefff4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Block h3 {
    font-size: clamp(20px, 4vw, 34px);
    color: #2d3b36;
    margin-bottom: 15px;
}

.Block p {
    font-size: 16px;
    line-height: 22px;
    color: #525349;
}

.RightContainer {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.RightContainer img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}


.Rectangle {
    position: absolute;
    display: flex;
    background-color: #eff5e1;
    border-radius: 200px;
    width: 80%;
    max-width: 400px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    bottom: 10%;
}

.Rectangle img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2d3b36;
    border: 1px dotted #2d3b36;
}

.Rectangle p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2d3b36;
}

.RightContainer ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 16px;
    color: #2d3b36;
    list-style: none;
    margin-top: 20px;
}



@media (min-width: 320px) and (max-width:600px) {
    .MainSection {
        padding: 50px 20px;
    }

    .LeftContainer h1 {
        font-size: 28px;
    }

    .RightContainer img {
        display: block;
        width: 100%;
        height: auto;
    }


    .Block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .Rectangle {
        height: auto;
        padding: 15px;
        gap: 2px;
        width: 100%;
    }

    .Rectangle p {
        font-size: 16px;
        text-align: center;
    }

    .Rectangle img {
        width: 40px;
        height: 40px;
    }


}

@media (min-width: 601px) and (max-width:900px) {
    .MainSection {
        flex-direction: column;
        padding: 100px 20px;
    }

    .Rectangle {
        bottom: 100px;
        width: 90%;
        height: 70px;
    }

    .Rectangle p {
        font-size: 14px;
    }


}
